.cols {
    width: 60%;
    margin: 0 auto;
}

.one-recipe {
    background-color: #ffffff;
    margin-bottom: 30px;

}

.in-line {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.name {
    background-color: #ffffff;
    color: #4f4f4f;
    margin-left: 25px;
    margin-top: 10px;
    font-weight: 550;
    font-size: 1cm;
    font-style: italic;
    max-width: 85%;
    word-break: break-all;
}

.form-btn {
    background-color: #ffffff;
}

.likes {
    background-color: #ffffff;
}

.empty {
    height: 90px;
}

.btn-read {
    background-color: #ffffff;
    width: 100%;
    outline: none;
    border: none;
}

.btn-read:focus,
.btn-read:hover {
    outline: none;
}

.fields {
    background-color: #ffffff;
}

.time,
.recipe,
.date {
    background-color: #ffffff;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    word-break: break-all;
}

.author {
position: relative;
    background-color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.author-date {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;

}

.photo-btn-like {
    background-color: #ffffff;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
}

.photo-btn-like:focus,
.photo-btn-like:hover {
    outline: none;
}

.likes {
    position: relative;
    background-color: #ffffff;
    font-size: 0.6cm;
    top: -2px;
    left: -10px;
}

.photo-btn-like img {
    background-color: #ffffff;
    margin-left: -40px;
    width: 100%;
    height: 100%;
}

.likes-inline {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 23px;
}

.link {
    background-color: #ffffff;
    outline: 0;
    border: 0;
    color: #a67b6a;
}

.link:hover {
    text-decoration: underline;
    outline: 0;
    border: 0;
    color: #8a6153;
}

.title-button {
    display: flex;
    font-weight: 200;
    font-size: 0.4cm;
    justify-content: space-between;
    margin-top: 10px;
}

.title-my-recipes {
    color: #4d4d4d;
    margin-top: 70px;
    font-weight: 10;
    margin-left: 10px;
    font-size: 1.3cm;
}

.btn-add-rec {
   background-color: #f0f0f0;
   padding: 10px 20px;
   height: 60px;
   outline: none;
   border: none;
   border-radius: 25px;
   cursor: pointer;
   position: relative;
   color: #666666;
   font-weight: 400;
   font-size: 0.6cm;
   margin-bottom: 90px;
   top: 70px;
}

.btn-add-rec:focus,
.btn-add-rec:hover {
    color: #4d4d4d;
    background-color: #d6d6d6;
    outline: none;
}

.not-recipes {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 1.5cm;
}




.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
}

.user-profile {
    position: relative;
    max-width: 600px;
    padding: 30px;
    z-index: 30px 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, .3);
    transform: scale(0);
    transition: transform .8s;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .user-profile {
    transform: scale(1);
}

.modal-close-btn {
    background-color: #ffffff;
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    padding: 5px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    outline: none;
}

.modal-close-btn img {
    background-color: #ffffff;
    width: 30px;
    height: 30px;
}

.title {
    background-color: #ffffff;
    text-align: center;
    font-size: 0.8cm;
    margin-top: -10px;
}

.inform {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
}

.avatarka {
    background-color: #ffffff;
    width: 140px;
    height: 140px;
    border-radius: 30px;
    margin: 0 auto;
    left 0;
    right 0;
    margin-bottom: 10px;
}

.img-avatar-profile {
    width: 140px;
    height: 140px;
    background-color: #ffffff;
    border-radius: 70px;
    border:3px solid #a67b6a;
}

.text {
    background-color: #ffffff;
    font-weight: 200;
    font-size: 0.5cm;
    margin-top: 10px;
}

.inform-name {
    background-color: #ffffff;
    margin-right: 10px;
    text-align: right;
}

.inform-user {
    background-color: #ffffff;
    color: #a67b6a;
}

.profile {
    background-color: #ffffff;
}

