.cols {
    width: 60%;
    margin: 0 auto;
}

.one-recipe {
    background-color: #ffffff;
    margin-bottom: 30px;

}

.in-line {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.name {
    background-color: #ffffff;
    margin-left: 40px;
    margin-top: 10px;

}

.form-btn {
    background-color: #ffffff;
}

.likes {
    background-color: #ffffff;
}

.empty {
    height: 90px;
}

.btn-read {
    background-color: #ffffff;
    width: 100%;
    outline: none;
    border: none;
}

.btn-read:focus,
.btn-read:hover {
    outline: none;
}

.fields {
    background-color: #ffffff;
}

.time,
.recipe,
.date {
    background-color: #ffffff;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    word-break: break-all;
}

.author {
position: relative;
    background-color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.author-date {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;

}

.photo-btn-like {
    background-color: #ffffff;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
}

.photo-btn-like:focus,
.photo-btn-like:hover {
    outline: none;
}

.likes {
    position: relative;
    background-color: #ffffff;
    font-size: 0.6cm;
    top: -2px;
    left: -10px;
}

.photo-btn-like img {
    background-color: #ffffff;
    margin-left: -40px;
    width: 100%;
    height: 100%;
}

.likes-inline {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 23px;
}

.link {
    color: #a67b6a;
}

.link:hover {
    color: #8a6153;
}

.title-button {
    display: flex;
    font-weight: 200;
    font-size: 0.4cm;
    justify-content: space-between;
    margin-top: 10px;
}

.title-my-recipes {
    color: #4d4d4d;
    margin-top: 70px;
    font-weight: 10;
    margin-left: 10px;
    font-size: 1.3cm;
}

.btn-add-rec {
   background-color: #f0f0f0;
   padding: 10px 20px;
   height: 60px;
   outline: none;
   border: none;
   border-radius: 15px;
   cursor: pointer;
   position: relative;
   color: #666666;
   font-weight: 400;
   font-size: 0.6cm;
   top: 70px;
}

.btn-add-rec:focus,
.btn-add-rec:hover {
    outline: none;
}