.login-fon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
}

.form {
    width: 500px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    font-family: sans-serif;
    letter-spacing: 1px;
    top: 10%;
    position: absolute;
   background-color: rgba(255, 255, 255, 0.7);
}

.form-input,
.form-button {
   font-family: sans-serif;
   letter-spacing: 1px;
   font-size: 16px;
}

.form-title {
   text-align: center;
   margin: 0 0 32px 0;
   font-weight: normal;
}

.form-group {
   position: relative;
   margin-bottom: 32px;
}

.form-label {
   color: #575757;
}

.form-input {
   width: 100%;
   padding: 0 0 10px 0;
   border: none;
   border-bottom: 1px solid #e0e0e0;
   background-color: transparent;
   outline: none;
   transition: 0.3s;
}

.form-input:focus {
   border-bottom: 1px solid #d47e5f;
}

.form-button {
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   color: #fff;
   background-color: #d47e5f;
   outline: none;
   cursor: pointer;
   transition: 0.3s;
}

.form-button:focus,
.form-button:hover {
   background-color: rgba(212, 126, 95, 0.7);
}

.form-input:focus ~ .form-label,
.form-input:not(:placeholder) {
   top: -18px;
   font-size: 12px;
   color: #e0e0e0;
}

