<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base.css">
</head>

<body>
    <header>
      <h1 class="logo">PELME</h1>

     <nav>
         <ul>
             <li><a href="/recipes">Рецепты</a></li>
             <li><a href="/">Главная</a></li>
             <li><a href="/restaurants">Рестораны</a></li>
         </ul>
     </nav>

    {% if current_user.is_authenticated %}
     <div class="avatar">
      <li><img class="img-avatar" src="{{ '/' + current_user.avatar }}">
         <ul>
            <li><a href="/my_recipes">Мои рецепты</a></li>
            <li><a href="/like_recipes">Понравившиеся рецепты</a></li>
            <li><a href="/profile_user">Профиль</a></li>
            <li><a href="/logout">Выйти</a></li>
         </ul>
      </li>
     </div>
   {% else %}
    <div class="buttons">
        <button class="btn-regist" type="button" onclick="location.href='regist'">Регистрация</button>
        <button class="btn-come" type="button" onclick="location.href='login'">Войти</button>
    </div>
   {% endif %}
   </header>
    {% if home %}
   <div class="fon-img">
       <img src="/static/images/fon.jpg">
       <div class="block-text">
           <div class="about-site">
               Добро пожаловать на наш сайт, где вы можете окунуться в мир кулинарных открытий!
               Здесь вы найдете огромную коллекцию рецептов разнообразных блюд от лучших кулинаров
               со всего мира. Вы сможете не только узнать, как приготовить любимые блюда,
               но и поделиться своими собственными кулинарными шедеврами с нашим сообществом.<br>
               Кроме того, на нашем сайте вы сможете найти лучшие рестораны вашего города,
               предлагающие уникальные блюда из различных кухонь мира.<br>
               Присоединяйтесь к нашему сообществу любителей кулинарии, делимся рецептами,
               открываем новые вкусы и находим лучшие кулинарные заведения вместе!
           </div>
       </div>
   </div>
    <div class="feedback">
        <div class="inform-text">
            <div class="name-inform">Обратная связь</div>
            <div class="email">nepisat@lox.ru</div>
            <div class="phone">+ 3 (888) 888-8888</div>
        </div>
    </div>
    {% endif %}

<main>
    {% block content %}{% endblock %}
</main>


</body>
</html>

