<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/base.css">

</head>


<body>
    <header>
      <a href="#" class="logo">PELME</a>

     <nav>
         <ul>
             <li><a href="recipes">Рецепты</a></li>
             <li><a href="/">Главная</a></li>
             <li><a href="restaurants">Рестораны</a></li>
         </ul>
     </nav>

    {% if current_user.is_authenticated %}
     <div class="avatar">
      <li><img class="img-avatar" src="{{ current_user.avatar }}">
         <ul>
            <li><a href="my_recipes">Мои рецепты</a></li>
            <li><a id="modal-user-profile" href="#">Профиль</a></li>
            <li><a href="/logout">Выйти</a></li>
         </ul>
      </li>
     </div>
   {% else %}
    <div class="buttons">
        <button class="btn-regist" type="button" onclick="location.href='regist'">Регистрация</button>
        <button class="btn-come" type="button" onclick="location.href='login'">Войти</button>
    </div>

   {% endif %}

   </header>


<main>
    {% block content %}{% endblock %}
</main>

   <div class="modal" id="modal-box">
       <div class="user-profile">
           <h5 class="title"> Профиль </h5>
           <button id="user-profile-close" class="modal-close-btn">
               <img src="static/images/btn_back.png">
           </button>

           <div class="btns-fields">
               <div class="btns-avatar">
                   <div class="avatarka">
                       <img class="img-avatar" src="{{ current_user.avatar }}">
                   </div>
                   <button class="profile-btn edit-btn"> Редактировать</button>
                   <button class="profile-btn"> Удалить аккаунт</button>
               </div>

               <div class="inform">
                   <div class="inform-name">
                       <h4 class="text"> имя: </h4>
                       <h4 class="text"> фамилия: </h4>
                       <h4 class="text"> почта: </h4>
                   </div>
                   <div class="inform-user">
                       <h4 class="text"> {{ current_user.name }} </h4>
                       <h4 class="text"> {{ current_user.surname }} </h4>
                       <h4 class="text"> {{ current_user.email }} </h4>
                   </div>

               </div>
           </div>
       </div>

   </div>
    <script src="static/js/file.js"></script>

</body>
</html>

