{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="/static/css/create_recipes.css">

<title>{{ title }}</title>

<div class="fon-form">
    <div class="title">{{ title }}</div><br>

    <form class="recipes" enctype="multipart/form-data" method="post">
            {{ form.hidden_tag() }}

        <p class="form-recipes">
            {{ form.name.label }}<br>
            {{ form.name(class="form-control", type="name") }}<br>
        </p>
        <p class="form-recipes">
            {{ form.time.label }}<br>
            {{ form.time(class="form-control", type="time") }}<br>
        </p>
        <p class="form-recipes">
            {{ form.text.label }}<br>
            {{ form.text(class="form-control", type="text") }}<br>
        </p>

        <p class="agree">{{ form.is_private(class="agree-box") }} {{ form.is_private.label }}</p>

        {% for error in form.photo.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}

        <p class="form-recipes">
            {{ form.photo(class="form-file") }}
            <div class="btn-file"><img class="btn-img" src="/static/images/btn-photo.png"></div>
        </p>

        <div class="btn-msg">
            <p class="line entrance">{{ form.submit(class="btn") }}</p>
            {% if msg %}
                <h3 class="line msg">{{ msg }}</h3>
            {% endif %}
        </div>

        </form>
    </div>
</div>

{% endblock %}