{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="static/css/home.css">
<title>Главная</title>
<!--<div class="block-fon">-->
<!--    <img id="fon" src="static/images/fonn.png" alt="здесь должна быть фотография, но ее нет почему-то">-->
<!--&lt;!&ndash;    <h1 class="title">Pelme</h1>&ndash;&gt;-->
<!--&lt;!&ndash;    <h5 class="tagline">Пельмени без границ!</h5>&ndash;&gt;-->
<!--</div>-->

<!--<img id="logo" src="static/images/7450477.png" alt="здесь должна быть фотография, но ее нет почему-то">-->

{% endblock %}
