{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="static/css/recipes.css">


    <div class="cols">
        {% if current_user.is_authenticated and add_recipes %}
            <div class="title-button">
                <h1 class="title-my-recipes">Ваши рецепты</h1>
                <button class="btn-add-rec" type="button" onclick="location.href='create_recipes'">Добавить свой
                    рецепт</button>
            </div>
        {% else %}
            <div class="empty"></div>
        {% endif %}

        {% for item in recipes%}
        <form action="/read_recipe" method="post">
            <input type="hidden" name="recipe" value="{{item.id}}">
            <button type="submit" name="submit" class="col col-md6 border rounded">
                <div class="fields">
                    <h1 class="name">{{item.name}}</h1>
                    <h6 class="time">Время приготовления: {{item.time}}</h6>
                    <h6 class="recipe">Рецепт: {{item.text[:70]}}</h6>
                </div>
                <div class="author-date">

                    <div class="author">Автор - {{item.user.name}}</div>
                    <div class="date">Опубликовано - {{item.modified_date}}</div>
                </div>
            </button>
        </form>

        {% endfor %}

    </div>






{% endblock %}
