<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/regist.css">

</head>



<body>

    <div class="login-fon">
        <img class="fon" src="static/images/fon_login.png" alt="здесь должна быть фотография, но ее нет почему-то">

        <form class="form"action="" method="post">
            <h1 class="form-title">Вход</h1>

            <div class="form-group">
                {{ form.hidden_tag() }}

                {{ form.name(class="form-input", type="name") }}<br>
                <label class="form-label">Имя</label>
            </div>

            <div class="form-group">
                {{ form.hidden_tag() }}

                {{ form.surname(class="form-input", type="surname") }}<br>
                <label class="form-label">Фамилия</label>
            </div>

            <div class="form-group">
                {{ form.hidden_tag() }}

                {{ form.email(class="form-input", type="email") }}<br>
                <label class="form-label">Email</label>
            </div>

            <div class="form-group">
                {{ form.password(class="form-input", type="password") }}<br>
                <label class="form-label">Пароль</label>
            </div>

            <div class="form-group">
                {{ form.password_again(class="form-input", type="password") }}<br>
                <label class="form-label">Повторите пароль</label>
            </div>

            <div class="msg">
                <button class="form-button">Зарегистрироваться</button>
                {% if message %}
                    <div>{{ message }}</div>
                {% endif %}
            </div>
        </form>
    </div>

</body>
</html>















